.off-canvas {
    min-width: 200px !important;
    max-width: 260px !important;

    .off-canvas-body {
        padding: 0;
        .menu-popup {
            padding: 0;

            .menu-popup-item {
                border: 0.666667px solid rgba(238, 238, 238, 1);
                padding: 0 10px;
                font-size: 17px;

                .languages {
                    cursor: pointer;
                    margin-right: 20px;

                    &.active {
                        color: rgb(34, 193, 195);
                    }
                }

                .btn-logout {
                    line-height: 40px;
                    height: 40px;
                    padding: 0;
                    cursor: pointer;
                }
            }
        }
    }
}