@import '../../../styles/styles.scss';

.container-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $base-size + 4px;
    margin-top: 15px;
    color: $colormain;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04aa6d;
    color: white;
}

.btn-add {
    float: right;
    margin: 5px 20px 15px;
}

.btn-edit {
    background-color: transparent;
    color: #ffc107 !important;
    padding: 0 10px;
    margin: 0 10px;

    &:hover {
        color: #f4cd59 !important;
        background-color: transparent;
    }
}

.btn-delete {
    background-color: transparent;
    color: #dc3545 !important;
    padding: 0 10px;
    margin: 0 10px;

    &:hover {
        color: #da626e !important;
        background-color: transparent;
    }
}
