@import 'normalize.css';

body,
html {
    background-image: '#fff';
    font-family: $fontmain;
    font-size: $base-size;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    border: none;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}