@import 'normalize.css';

body,
html {
    background-image: '#fff';
    font-family: $fontmain;
    font-size: $base-size;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    border: none;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

// loading overlay
._loading_overlay_overlay.css-df17o1 {
    z-index: 10000000000 !important;
    position: fixed !important;
    width: 100vw;
    height: 100vh;
}

// markdown it
.editor-container {
    ul {
        list-style: disc !important;
    }
}

// image [antd]
.ant-image-preview-wrap {
    z-index: 100000 !important;

    .ant-image-preview-img {
        z-index: 1000000 !important;
    }
}

// react-datepicker
.react-datepicker-popper {
    z-index: 1000;
}

// carousel [bootstrap]
.slick-track {
    margin-left: 0;
}

.slick-disabled {
    display: none !important;
}

.float-left {
    .slick-track {
        float: left;
    }
}
