.next-btn,
.prev-btn {
    box-shadow: rgb(201, 236, 240) 2px 2px 5px;
    transition-duration: 0s;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(181, 231, 237);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1;
}

.next-btn {
    right: -17px;
}

.prev-btn {
    left: -17px;
}

.wrapper {
    margin-top: 45px;
    margin-bottom: 30px;
    padding: 0 35px 30px;

    .section-top {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section-label {
            font-weight: 600;
            color: rgb(26, 26, 26);
            font-size: 24px;
        }

        .btn-see-more {
            background-color: rgb(218, 243, 246);
            padding: 10px 8px;
            border-radius: 16px;
            font-size: 20px;
            color: rgb(52, 146, 158);
            font-weight: 600;
            border: none;
            word-wrap: break-word;
        }
    }

    .slide {
        display: flex !important;
        gap: 43px;
        height: 323px;
    }
}
