.background {
    background-image: url('https://cdn.bookingcare.vn/fo/w1920/2023/09/07/141422-144204-dat-lich-kham-bookingcare-pharmacity.jpg');
}

.slide {
    height: 402px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 35px;
}